@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body{
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 0;
}


/*
* Entête de page
*/

/*
* Navigation
*/

header nav{
    background-color: black;
}

header nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    
}

.navpc{
    display: none;
    color: #d9d7d7;
}

.button{
    width: 32px;
}

header nav ul li{
    list-style: none;
}

.bold{
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

/*
* Corps de l'Entête
*/

header section{
     background-image: url(images/hero-image.jpg);
}

header section h1{
    font-weight: 400;
    font-size: 1.7rem;
}

.Head{
    display: grid;
    color: white;
    text-align: center;
    margin: auto;
    padding: auto;
    width: 80%;
}

#learn{
    text-decoration: none;
    color: white;
    background-color: #ff6347;
    margin: auto;
    padding: 10px 15px;
    border-radius: 10px;
}

.code{
    margin: 25px auto;
}

/*
* Corps de la page
*/

.redtext{
    color: red;
    text-transform: capitalize;
}

.colortext{
    color: red;
    font-weight: lighter;
    font-size: 1.5rem;
}

.redtitle{
    color: red;
    font-weight: lighter;
}

.separator{
    border: 1px solid red;
    width: 40%;
    margin: auto;
}

.picture{
    height: 70px;
    border-radius: 50%;
    padding: 20px;
    margin-top: 30px;
    filter: invert(0.85);
    background-color: white;
}

main{
    width: 90%;
    text-align: center;
    margin: 25px auto 25px auto;
}

main section h2{
    padding-top: 50px;
}


/*
* Lien
*/

.link_out{
    text-decoration: none;
    color: red;
    border: 1px solid #d9d7d7;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

footer{
    background-color: #ff6347;
}

footer img{
    height: 35px;
}

footer div{
    display: grid;
    padding-top: 150px;
    color: white;
    font-size: small;
    padding-bottom: 20px;
}

/**
* Format Orinateur
*/

@media (min-width: 1200px){

    /* Entête PC */

    .navpc{
        display: block;
        text-decoration: none;
    }

    header nav ul{
        display: flex;
        gap: 50px;
    }
    
    .button{
        display: none;
    }

    .Head{
        text-align: center;
        margin: auto;
        padding: auto;
        width: 40%;
        background-size: cover;
    }

        /* Main PC */ 

    main{
        width: 60%;
    }

    .separator{
        width: 10%;
    }

    .column{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 150px;
        padding-bottom: 50px
    }

    footer div{
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
    }

}